<mat-toolbar color="primary" class="nav">
    <div>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>

        <button mat-flat-button color="primary">Home</button>
        <!-- <img [src]="entity?.imageUrl || alternateUrl" alt="My App" appHideMissing /> -->
    </div>
    <div>
        <button mat-icon-button class="favorite-icon" aria-label=" icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
        <button mat-icon-button class="cart-icon" aria-label=" icon-button with cart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
</mat-toolbar>