<mat-toolbar color="primary" class="nav">
    <div>
        <button mat-icon-button class="example-icon" (click)="snav.toggle()" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
          </button>

        <button routerLink="" routerLinkActive="active" mat-flat-button color="primary">Home</button>
        <!-- <img [src]="entity?.imageUrl || alternateUrl" alt="My App" appHideMissing /> -->
    </div>
    <div>
        <button routerLink="login" routerLinkActive="active" mat-icon-button class="person-icon" aria-label="person-button with person icon">
        <mat-icon>person</mat-icon>
      </button>
        <button mat-icon-button class="cart-icon" aria-label=" icon-button with cart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>
</mat-toolbar>

<mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <mat-nav-list>
            <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav.name}}</a>
        </mat-nav-list>
    </mat-sidenav>

    <!-- <mat-sidenav-content>
        <p *ngFor="let content of fillerContent">{{content}}</p>
    </mat-sidenav-content> -->
</mat-sidenav-container>